
.DS_Store
diploma_env
.gitattributes
# Игнорировать все CSV-файлы
*.csv

# Игнорировать все GPG-файлы
*.gpg
*.csv
*.gpg
.ipynb_checkpoints/
*.csv
*.gpkg
*.svg
*.ods
*.shp
*.xml
*.tmp
.ipynb_checkpoints/
*.csv
*.gpkg
*.svg
*.ods
*.shp
*.xml
*.tmp
diploma_text/
london/data/
moscow/moscow_data/
nsw/data/
london/prior_notebooks/
nsw/prior_notebooks/
moscow/prior_notebooks/
london/maps/
moscow/maps/
nsw/maps/
london/prior_notebooks/
nsw/prior_notebooks/
moscow/prior_notebooks/
london/maps/
moscow/maps/
nsw/maps/

# Игнорировать JSON, TensorBoard, TSV, Pickle
*.json
*.tfevents*
*.tsv
*.pkl
