
.DS_Store
diploma_env
.gitattributes
# Игнорировать все CSV-файлы
*.csv

# Игнорировать все GPG-файлы
*.gpg
*.csv
*.gpg
.ipynb_checkpoints/
*.csv
*.gpkg
*.svg
*.ods
*.shp
*.xml
*.tmp
.ipynb_checkpoints/
*.csv
*.gpkg
*.svg
*.ods
*.shp
*.xml
*.tmp
